torch >= 2.3.0
transformers == 4.49.0
peft == 0.14.0
accelerate == 1.4.0
bitsandbytes == 0.45.3
xformers == 0.0.27.post2
vllm == 0.6.2
trl == 0.12.1
flash-attn == 2.6.3

wandb >= 0.17.0
fire >= 0.6.0
flake8 >= 7.0.0
mmh3 >= 4.1.0

unsloth == 2025.2.15
unsloth-zoo == 2025.2.7
