torch >= 2.3.0
git+https://github.com/huggingface/transformers@bab605d
peft == 0.15.1
accelerate == 1.6.0
bitsandbytes == 0.45.3
xformers == 0.0.29.post2
vllm == 0.8.3
trl == 0.15.2
flash-attn == 2.6.3

wandb >= 0.17.0
fire >= 0.6.0
flake8 >= 7.0.0
mmh3 >= 4.1.0

git+https://github.com/unslothai/unsloth@05f4875
git+https://github.com/unslothai/unsloth-zoo@4a66f8b
